* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

html {
    height:100%;
    width: 100%;
    overflow: -moz-hidden-unscrollable;
}

body {
    
    background-image: url("imagenes/fondopantalla.JPG"); 
}

.contenedor{
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.main{
    width: 100%;
}

header{
background-color: grey;
width: 100%;
position: relative;
font-family: 'Roboto', serif;
color: black;
font-size: 20px;
padding:10px; 
}

a{
    color: white; 
    
}

img {
    border-radius: 50px;
    width:400px;
    height: 200px;
    padding: 20px;
    margin: 20px;  
    box-shadow: 2px 2px 5px rgb(75, 71, 71);
}

#persona  {
    width: 300px;
    right: 370px;
    left: 390px;
    bottom: 5px;
    padding: 0px;
    margin-top:20px; 
    margin-bottom: 0px ;
    top: 500px;
    
    /* animation: ; */
    animation-name: movimiento;
    animation-duration: 2s;
    animation-iteration-count: 2;
  }

  @keyframes movimiento{
      0% {
          transform: scale(1);
      }
    40% {
        transform: scale(0.5);
    }
    60% {
        transform: scale(1.2);
    }
  
  }

  #imagencentro {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
  #imagencentro>img {
    max-width: 50%;
    border: 2px solid none;
 }

#centro{
    text-align: center;
    padding: 5px;
    margin-top:20px; 
    margin-bottom: 0px ;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    top: 500px;
}

#novedades{
    text-align: center;
    padding: 5px;
    margin-top:20px; 
    margin-bottom: 0px ;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 50px;
    color: #000000;
    top: 500px;
}

#recetas{
    font-family: 'Pacifico';  
    padding: 5 px;  
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 30px;
}



#Ingredientes{
    position: relative;
    width: 175px;
    height: 500px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#Ingredientes2{
    position: relative;
    width: 250px;
    height: 710px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#Ingredientes3{
    position: relative;
    width: 300px;
    height: 350px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#Ingredientes4{
    position: relative;
    width: 300px;
    height: 350px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#Ingredientes5{
    position: relative;
    width: 300px;
    height: 380px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#Ingredientes6{
    position: relative;
    width: 200px;
    height: 250px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#Ingredientes7{
    position: relative;
    width: 200px;
    height: 330px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#Ingredientes8{
    position: relative;
    width: 230px;
    height: 650px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}
#Ingredientes9{
    position: relative;
    width: 190px;
    height: 330px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}
#albahaca{
    position: relative;
    width: 175px;
    height: 165px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 16px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#pasoapaso{
    position: relative;
    width: 350px;
    height: 500px;
    padding: 15px 20px 35px 20px;
    left: 30px;
    right: 60px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
    
}

#pasoapaso2{
    position: relative;
    width: 550px;
    height: 330px;
    padding: 15px 20px 35px 20px;
    left: 20px;
    right: 2px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
    
}

#pasoapaso3{
    position: relative;
    width: 900px;
    height: 710px;
    padding: 15px 20px 35px 20px;
    left: 20px;
    right: 2px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#pasoapaso4{
    position: relative;
    width: 850px;
    height: 350px;
    padding: 15px 20px 35px 20px;
    left: 20px;
    right: 2px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#pasoapaso5{
    position: relative;
    width: 850px;
    height: 350px;
    padding: 15px 20px 35px 20px;
    left: 20px;
    right: 2px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#pasoapaso6{
    position: relative;
    width: 850px;
    height: 380px;
    padding: 15px 20px 35px 20px;
    left: 20px;
    right: 2px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#pasoapaso7{
    position: relative;
    width: 950px;
    height: 250px;
    padding: 15px 20px 35px 20px;
    left: 20px;
    right: 2px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#pasoapaso8{
    position: relative;
    width: 950px;
    height: 330px;
    padding: 15px 20px 35px 20px;
    left: 20px;
    right: 2px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#pasoapaso9{
    position: relative;
    width: 350px;
    height: 650px;
    padding: 15px 20px 35px 20px;
    left: 30px;
    right: 50px;
    top: 1px;
    bottom: 50px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#salsa{
    position: relative;
    width: 270px;
    height: 500px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
}

#armado{
    position: relative;
    width: 300px;
    height: 550px;
    padding: 15px 20px 35px 20px;
    left: 200px;
    right: 10px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
    
}

#armado2{
    position: relative;
    width: 300px;
    height: 650px;
    padding: 15px 20px 35px 20px;
    left: 35px;
    right: 10px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
    
}

#presentacion{
    position: relative;
    width: 300px;
    height: 500px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 50px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
    
}

#presentacion2{
    position: relative;
    width: 350px;
    height: 330px;
    padding: 15px 20px 35px 20px;
    left: 25px;
    right: 10px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
         
}

#presentacion3{
    position: relative;
    width: 200px;
    height: 650px;
    padding: 15px 20px 35px 20px;
    left: 35px;
    right: 10px;
    top: 1px;
    bottom: 5px;
    background: #D9D9D9;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 4mm;
    border: 2px solid black;
         
}

div{
    padding: 10px;
}

label{
    padding: 10px;
    position: center;
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul{
    list-style:none;
    padding:20px;
    margin-left: 20px;
    top: 20px;
    left: 50px;
    }

li{
    padding: 3px;
    text-align: left;
   }

.listas{
    display: inline-block;
    padding: 2px;
}

#boton{
    padding:3px;
    width: 80px;
    border-color: rgb(145, 145, 167);
    height: 25px;
    left: 500px;
    top: 500px;

    }

footer {
    align-self: flex-end;
    text-align: center;
    position: center;
    bottom: 0px;
    width: 100%; 
    font-family: 'Roboto';
    margin-top: 20px;
    background-color: rgb(133, 129, 129);
}

#jorge{
    position: relative;
    width: 320px;
    height: 400px;
    padding: 0px 0px 0px 0px;
    left: 5px;
    right: 5px;
    top: 1px;
    bottom: 5px;
    border-radius: 10px;
           
}

#textojorge{
    text-align: center;
    font-size: x-large;
    color: #000000;
    font-family: Roboto;
}

#mariela{
    position: relative;
    width: 320px;
    height: 400px;
    padding: 0px 0px 0px 0px;
    left: 5px;
    right: 5px;
    top: 1px;
    bottom: 5px;
    border-radius: 10px;
   
}

#textomariela{
    text-align: center;
    font-size: x-large;
    color: #000000;
    font-family: Roboto;
}



#mario{
    position: relative;
    width: 320px;
    height: 400px;
    padding: 0px 0px 0px 0px;
    left: 5px;
    right: 5px;
    top: 1px;
    bottom: 5px;
     border-radius: 10px;
    
}

#textomario{
    text-align: center;
    font-size: x-large;
    color: #000000;
    font-family: Roboto;
}