HTML{
    height: 100%;
}

header, main, footer {
    padding: 10 px; 

}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    background-image: url("imagenes/fondopantalla.JPG");
    font-family: 'Pacifico';
   
}

img{
    border-radius: 10px;
}

#Ingredientes{
    
    position: absolute;
    width: 180px;
    height: 180px;
    left: 50px;
    top: 370px;
    background: #D9D9D9;
    border-radius: 10px;
}

#salsa1{
    
    position: absolute;
    width: 180px;
    height: 180px;
    left: 50px;
    top: 530px;
    background: #D9D9D9;
    border-radius: 10px;
}

#varios{
    
    position: absolute;
    width: 180px;
    height: 70px;
    left: 50px;
    top: 690px;
    background: #D9D9D9;
    border-radius: 10px;
}
#pasoapaso{
    position: absolute;
    width: 300px;
    height: 390px;
    left: 300px;
    top: 370px;
    background: #D9D9D9;
    border-radius: 10px;
}

#salsa2{
    position: absolute;
    width: 300px;
    height: 390px;
    left: 632px;
    top: 370px;
    background: #D9D9D9;
    border-radius: 10px;
}

#presentacion{
    position: absolute;
    width: 300px;
    height: 390px;
    left: 964px;
    top: 370px;
    background: #D9D9D9;
    border-radius: 10px;
}


footer{
    position: relative;
    height: 300px;
    text-align: center;
    position: center;
    font-family: 'Roboto';
   

}
