* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    height:100%;
    
}

body {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    min-width: 100vh;
    margin: 0 auto;
    background-image: url("imagenes/fondopantalla.JPG"); 
}

header{
align-self: flex-end;
background-color: rgb(133, 129, 129);
width: 1500px;
animation-name: Recetarioner;
animation-duration: 4s;
animation-delay: 10;
position: relative;
font-family: 'Roboto', serif;
font-size: 20px;
padding:10px; 
}

@keyframes Recetarioner {

50% {
    margin-left: 25%;
    width: 100%;
}

}

img {
    border-radius: 50px;
    width:400px;
    height: 200px;
    padding: 20px;
    margin: 20px;  
}

#centro{
    position: absolute;
    width: 500px;
    height: 100px;
    left: 390px;
    top: 370px;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 150;
    font-size: 40px;
    line-height: 50px;
    color: rgb(61, 60, 60);
    text-align: center;
}

#novedades{
    text-align: center;
    padding: 30px;
    margin-top:50px; 
        margin-bottom: 0px ;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 50px;
    color: #000000;
}

label{
    padding: 10px;
    position: center;
    font-family: 'Roboto';
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul{
    list-style:none;
}

.listas{
    display: inline-block;
    padding: 20px;
}

#boton{
    padding:3px;
    width: 80px;
    border-color: rgb(145, 145, 167);
    height: 25px;
    left: 500px;
    top: 500px;
}

footer {
    align-self: flex-end;
    text-align: center;
    position: center;
    bottom: 0px;
    width: 2000px;   
    font-family: 'Roboto';
    margin-top: 60px;
    background-color: rgb(133, 129, 129);
}



