* { /* Selector Universal*/
    margin: 0;
    padding: 0;
    
}

header, main, footer{
    padding: 20 px; 
}

header{
    padding:20px; 
    animation-name: Recetarioner;
    animation-duration: 4s;
    animation-delay: 10;
    position: relative;
    font-family: 'Pacifico', serif;
    font-size: 20px;

}

@keyframes Recetarioner {

    50% {
        margin-left: 25%;
        width: 150%;
    }

}

a {    
    padding: 20px;
    margin: 20px;
    border: 20px;
}

body {
    background-image: url("imagenes/fondopantalla.JPG");
}

#centro{
    position: absolute;
width: 500px;
height: 100px;
left: 390px;
top: 370px;

font-family: 'Pacifico';
font-style: normal;
font-weight: 150;
font-size: 40px;
line-height: 50px;

color: #000000;
}

img {
    width: 350px;
    height: 180 px;
    border-radius: 10px;
    /* box-shadow: 10px 10px 10px; */
}

#novedades{
    padding:30px; 
    position: left;
width: 500px;
height: 100px;
left: 390px;
top: 50px;

font-family: 'Pacifico';
font-style: normal;
font-weight: 150;
font-size: 25px;
line-height: 50px;

color: #000000;
}

label{
    padding: 10px;
    position: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 150;
font-size: 15px;
line-height: 50px;
width: 384px;
height: 14px;
left: 83px;
top: 757px;
}

li{
    padding:15px;
}

#boton{
    padding:3px;
    width: 120px;
    border-block-color: black;
height: 25px;
left: 500px;
top: 500px;
}



footer {
    text-align: center;
    position: center;

}